<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PE_2020ConnectionString" 
            connectionString="server=localhost\SQLEXPRESS;database=PRN292_Spr2020_B1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>